db.sqlite3
myvideo/__init__.py
myvideo/__pycache__/__init__.cpython-38.pyc
myvideo/__pycache__/settings.cpython-38.pyc
myvideo/__pycache__/urls.cpython-38.pyc
myvideo/__pycache__/wsgi.cpython-38.pyc
repository/__init__.py
repository/__pycache__/__init__.cpython-38.pyc
repository/__pycache__/admin.cpython-38.pyc
repository/__pycache__/models.cpython-38.pyc
repository/migrations/0001_initial.py
repository/migrations/__init__.py
repository/migrations/__pycache__/0001_initial.cpython-38.py
repository/migrations/__pycache__/__init__.cpython-38.pyc
repository/migrations/__pycache__/0001_initial.cpython-38.pyc
repository/__pycache__/
repository/migrations/0002_auto_20201223_1520.py
repository/migrations/0003_auto_20201223_1911.py
repository/migrations/0004_auto_20201223_2237.py
repository/migrations/0005_auto_20201224_1551.py
repository/migrations/0006_auto_20201224_1556.py
repository/migrations/0007_auto_20201224_1649.py
repository/migrations/0008_auto_20201224_2155.py
repository/migrations/0009_auto_20201225_0329.py
repository/migrations/__pycache__/0002_auto_20201223_1520.cpython-38.pyc
repository/migrations/__pycache__/0003_auto_20201223_1911.cpython-38.pyc
repository/migrations/__pycache__/0004_auto_20201223_2237.cpython-38.pyc
repository/migrations/__pycache__/0005_auto_20201224_1551.cpython-38.pyc
repository/migrations/__pycache__/0006_auto_20201224_1556.cpython-38.pyc
repository/migrations/__pycache__/0007_auto_20201224_1649.cpython-38.pyc
repository/migrations/__pycache__/0008_auto_20201224_2155.cpython-38.pyc
repository/migrations/__pycache__/0009_auto_20201225_0329.cpython-38.pyc